.buttons{

}
h1,h2,p{
    color:#ccc;
}
body{
    background: #555;
    color:#fff;
    background: linear-gradient(to right, #333 , #555);

}
.well{
    background: #444;
    color:#99ff99;
    border: 1px solid transparent;
    border-image: linear-gradient(to right, #f6f ,#0ff, #0f8) ;
    border-image-slice: 1;
    background: linear-gradient(to right, #333434 , #444); /* Standard syntax */
}
.btn{
    border-width: 2px;
    background: #555;
}
.buttons{
    border-width: 2px;
}
.on{
    color:#fff;
    background-color: #333;

    border: 2px solid transparent;
    border-image: linear-gradient(to right, #0f0 , #0ff);
    border-image-slice: 1;
}

.link-text {
    font-size: 22px;
    color: #aee4ff;
}

.off{
    color:#fff;
    background-color: #222;
    border-width: 2px;      
    border-color: #c7256e;
    border: 2px solid transparent;
    border-image: linear-gradient(to right, #f00 , #f08);
    border-image-slice: 1;
}

.buttons:active{
    background-color: #000;
}
.buttons:hover{
    background-color: #000;
}
.buttons:focus{
    background-color: #444;


}
.dimmer-scale{
    background-color: #333;

    color: #fff;
    margin-top: 3px;
    border: 2px solid transparent;
    border-image: linear-gradient(to right, #0fa , #ff2);
    border-image-slice: 1;
}

.plot{
       background-color: #111;
     border-width: 2px;      
    border-color: #c7256e;
    border: 2px solid transparent;
    border-image: linear-gradient(to right, #0fa , #ff2);
    border-image-slice: 1;
}